# Node modules
node_modules/

# Vite build output
dist/

# Tauri build output
src-tauri/target/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Env files
.env
.env.*
